###> symfony/framework-bundle ###
# /.env*
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/migrations
/config/secrets
###< symfony/framework-bundle ###
# /composer.lock Removed because of deployment to heroku
/symfony.lock

.symfony.local.yaml

###> rector bundle for code formatting ###
/rector.php
###> rector bundle for code formatting ###
/.phpdoc*
/.phpdoc/cache/
/.phpdoc/cache/*

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

